@{
    ViewData["Title"] = "Somar";
}

<h1>Somar</h1>

<form action="/Operacoes/ResultadoDeSoma" method="POST">
    <label for="n1">Numero 1</label>
    <input type="text" id="n1" name="n1">

    <label for="n2">Numero 2</label>
    <input type="text" id="n2" name="n2">

    <input type="submit" value="Somar">
</form>